<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arrangement</title>
</head>
<body>
<br>
<h3>Arrangement for this week</h3>
<table class="courses_table">
            {% if params != {} %}
                <thead>
                    <tr>
                        <td></td>
                        <td>ShiftID</td>
                        <td>Date</td>
                        <td>Bartenders</td>
                        <td>Waitresses</td>
                    </tr>
                </thead>

                {% for i in range(params["sol"]|length) %}
                    <tr>
                        <td>{{params["sol"][i].shift_id}}</td>
                        <td>{{params["sol"][i].date}}</td>
                        <td>{{params["sol"][i].bartenders}}</td>
                        <td>{{params["sol"][i].waitresses}}</td>
                    </tr>
                {% endfor %}
            {% endif %}

    </table>

</body>
</html>