<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Send Hours</title>
</head>
<h3>Send Hours Form</h3>
<br><br>
<h3>Register date, start hour of shift where you can work</h3>
<h3>Let user choose existing shifts from DB</h3>

<table class="courses_table">
            {% if params != {} %}
                <thead>
                    <tr>
                        <td></td>
                        <td>Shift ID</td>
                        <td>Day</td>
                        <td>Date</td>
                        <td>Start Time</td>

                    </tr>
                </thead>

                {% for shift in params["shifts"] %}
                    <tr>
                        <td>{{shift.shift_id}}</td>
                        <td>{{shift.get_day()}}</td>
                        <td>{{shift.date}}</td>
                        <td>{{shift.start_hour}}</td>
                        <td>  Select this shift</td>
                    </tr>
                {% endfor %}
            {% endif %}

    </table>
</body>
</html>