<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
</head>
<body>
<h3>View available templates</h3>
          {% if params != {} %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <script>
                    var messages = {{ messages | safe }};
                    for (var i=0; i<messages.length; i++) {
                      alert(messages[i]);
                    }
                  </script>
                {% endif %}
            {% endwith %}
            {% for template_no,template in params["templates"].items() %}
            <table>
                <thead>
                    <tr>
                        <td>Day</td>
                        <td>Start Time</td>
                        <td>Bartenders No.</td>
                        <td>Waitresses No.</td>
                        <td>Select this template</td>
                    </tr>
                </thead>

                {% for shift in template %}
                    <tr>
                        <td>{{shift[0]}}</td>
                        <td>{{shift[1]}}</td>
                        <td>{{shift[2]}}</td>
                        <td>{{shift[3]}}</td>
                    </tr>
                {% endfor %}
            </table>
            {% endfor %}
          {% endif %}

</body>
</html>