<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
</head>
<body>
<h3>View available templates</h3>
          {% if params != {} %}
            {% with templates = params["json"] %}
<h3>{{params["json"]}}</h3>
                  <script>
                    var templates = {{ templates | safe }};
                    alert(templates);
                  </script>
            {% endwith %}
            {% for template_no,template in params["templates"].items() %}
            <table>
                <thead>
                    <tr>
                        <td>Day</td>
                        <td>Start Time</td>
                        <td>Bartenders No.</td>
                        <td>Waitresses No.</td>
                        <td>Select this template</td>
                    </tr>
                </thead>

                {% for shift in template %}
                    <tr>
                        <td>{{shift[0]}}</td>
                        <td>{{shift[1]}}</td>
                        <td>{{shift[2]}}</td>
                        <td>{{shift[3]}}</td>
                    </tr>
                {% endfor %}
            </table>
            {% endfor %}
          {% endif %}
          <script type=text/javascript src="{{
            url_for('static', filename='main.js') }}"></script>
</body>
</html>